<nav class="navbar navbar-light bg-body-tertiary navbar-expand-lg border-bottom">
    <div class="container-fluid ctr">
      
      <a class="navbar-brand nav-c" href="">
        <img src="../assets/img/bs-full-nobg.png" alt="" width="225" height="85" class="d-inline-block">
      </a>
      
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dentalservicesnav"
        aria-controls="dentalservicesnav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon nav-c  "></span>
      </button>
  
      <div class="navbar-collapse collapse" id="dentalservicesnav">
        
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul> -->
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-c" role="button" aria-expanded="false">
              Dental Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item nav-c" href="#">Orthodontics</a></li>
              <li><a class="dropdown-item nav-c" href="#">Oral Surgery</a></li>
              <li><a class="dropdown-item nav-c" href="#">Dental Implants</a></li>
              <li><a class="dropdown-item nav-c" href="#">General Dentisry</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-c" aria-current="page" routerLink="/about">About Bustamante-Segovia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-c" aria-current="page" routerLink="/team">The Dental Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-c" aria-current="page" routerLink="/facilities">Facilities</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link nav-c" aria-current="page" routerLink="/contact">Contact Us</a>
          </li>
          <button class="btn btn-outline-info nav-c nav-c-bg" routerLink="/login">Log In</button>
        </ul>
  
      </div>
  
    </div>
  </nav>
  
  <div class="container-fluid">
    <p class="h3">facilities works!</p>
  </div>