.ctr {
    margin: auto;
    width: 70%;
}

.dropdown:hover .dropdown-menu {
    display: inline-block;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-item {
    background-color: transparent;
}

.nav-c {
    color: #2EA3F2;
    font-weight: 500;
}

.nav-c:hover {
    color: rgba(92, 163, 210, 0.550);
}

.nav-c-bg {
    outline: auto;
    outline-color: #2EA3F2;

}

.nav-c-bg:hover {
    outline: auto;
    outline-color: #2EA3F2;
    color: #ffffff;
    background-color: rgba(92, 163, 210, 0.550);
}